option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"

container_commands:
  01_migratedb:
    command: "source /var/app/venv/*/bin/activate && flask db migrate"
    leader_only: true
container_commands:
  02_upgradedb:
    command: "source /var/app/venv/*/bin/activate && flask db upgrade"
    leader_only: true