<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register user</title>
</head>
<body>
    <form method="post" action="/registeruser">

        <p>First name:</p> <input type="text" name="firstname">
        <p>Last name:</p> <input type="text" name="lastname">
        <p>Email address:</p> <input type="text" name="emailaddress">
        <p>Mobile phone:</p> <input type="text" name="mobilephone">
        <p>Home address:</p> <input type="text" width="100" height="100" name="homeaddress">
        <p>Picture:</p> <input type="file" name="picture">
        <br>
        <input type="submit" value="Create">

    </form>
</body>
</html>